* {
  font-family: 'Pretendard', sans-serif;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgba(220, 222, 223, 1);
  text-decoration: none;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}